body {
    font-family: "Montserrat",sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

h1 {
    color: #4b8c4b;
    font-size: 28px;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
}

input {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.captcha-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.captcha-container input {
    width: auto;
    margin-right: 5px;
}

.btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4b8c4b;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.secondary {
    background-color: #3c733c;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    transform: scale(0.98);
}

@media (max-width: 400px) {
    .container {
        width: 95%;
    }
    .btn {
        font-size: 14px;
        padding: 8px;
    }
}
